<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Imoveis
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Imovel</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/admin/imoveis/{$imovel.id}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="descricao">Descricao</label>
                                <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a descricao" value="{$imovel.descricao}">
                            </div>
                            <div class="form-group">
                                <label for="tipo">Tipo</label>
                                <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Digite o tipo" value="{$imovel.tipo}">
                            </div>
                            <div class="form-group">
                                <label for="preco">Preco</label>
                                <input type="text" class="form-control" id="preco" name="preco" placeholder="Digite o preco" value="{$imovel.preco}">
                            </div>
                            <div class="form-group">
                                <label for="endereco">Endereco</label>
                                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Digite o endereco" value="{$imovel.endereco}">
                            </div>
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone" value="{$imovel.telefone}">
                            </div>
                            <div class="form-group">
                                <label for="imagem">Imagem</label>
                                <input type="text" class="form-control" id="imagem" name="imagem" placeholder="Digite o imagem" value="{$imovel.imagem}">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->