<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="res/site/_css/index.css">
    <link rel="stylesheet" href="res/site/_css/navbar.css">
    <title>HOME</title>
</head>

<body>
    <div class="oi">
        <div class="navigation">
            <ul>
                <li class="list active">
                    <a href="#home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <spam class="title">Home</span>
                    </a>
                </li>

                <li class="list">
                    <a href="#about">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Sobre</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#search">
                        <span class="icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </span>
                        <span class="title">Buscar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin">
                        <span class="icon">
                            <ion-icon name="log-in-outline"></ion-icon>
                        </span>
                        <span class="title">Sign in</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-bar">
        <div class="row">
            <div class="col s2 nav-item">
                <a href="#" class="menu-item-0 nav-item-ico">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </a>

            </div>
            <div class="col s2 nav-item">
                <a href="#search" class="menu-item-1 nav-item-ico">
                    <ion-icon name="search-outline"></ion-icon>
                </a>
            </div>
            <div class="col s4 nav-item">
                <a href="#home" class="menu-item-2 nav-item-ico">
                    <ion-icon name="home-outline"></ion-icon>
                </a>
            </div>
            <div class="col s2 nav-item">
                <a href="/admin" class="menu-item-3 nav-item-ico">
                    <ion-icon name="log-in-outline"></ion-icon>
                </a>
            </div>
            <div class="col s2 nav-item">
                <a href="#about" class="menu-item-4 nav-item-ico">
                    <ion-icon name="help-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>